In [1]:
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in ./.local/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 285 kB/s
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in ./.local/lib/python3.7/site-packages (from ipython-sql) (7.28.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.27-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 2.2 MB/s
Requirement already satisfied: ipython-genutils>=0.1.0 in ./.local/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: decorator in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (47.1.1)
Requirement already satisfied: pygments in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in ./.local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.6.1)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
     |████████████████████████████████| 150 kB 47.0 MB/s
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./.local/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in ./.local/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.1.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=011c85f912828d6f6be4bb03c21586e5ac9aa1e6b28d57de561a46706e40418d
  Stored in directory: /DATA/radhasyam1/.cache/pip/wheels/b2/7f/f6/f180315b584f00445045ff1699b550fa895d09471337ce21c6
Successfully built prettytable
Installing collected packages: greenlet, sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 2.2.1
    Uninstalling prettytable-2.2.1:
      Successfully uninstalled prettytable-2.2.1
Successfully installed greenlet-1.1.2 ipython-sql-0.4.0 prettytable-0.7.2 sqlalchemy-1.4.27 sqlparse-0.4.2

In [6]:
import sqlalchemy

In [ ]:
sqlalchemy.create_engine('postgres://keshav:keshav@localhost:5432/postgres')

In [2]:
%load_ext sql

In [13]:
%%sql
SELECT TOP(5) * FROM avengers_csv

,url,name/alias,appearances,current?,gender,probationary introl,full/reserve avengers intro,year,years since joining,honorary,...,return1,death2,return2,death3,return3,death4,return4,death5,return5,notes
0,http://marvel.wikia.com/henry_pym_(earth-616),"henry jonathan ""hank"" pym",1269,yes,male,NaN,sep-63,1963,52,full,...,no,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,merged with ultron in rage of ultron vol. 1. a...
1,http://marvel.wikia.com/janet_van_dyne_(earth-...,janet van dyne,1165,yes,female,NaN,sep-63,1963,52,full,...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dies in secret invasion v1:i8. actually was se...
2,http://marvel.wikia.com/anthony_stark_(earth-616),"anthony edward ""tony"" stark",3068,yes,male,NaN,sep-63,1963,52,full,...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"death: ""later while under the influence of imm..."
3,http://marvel.wikia.com/robert_bruce_banner_(e...,robert bruce banner,2089,yes,male,NaN,sep-63,1963,52,full,...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"dies in ghosts of the future arc. however ""he ..."
4,http://marvel.wikia.com/thor_odinson_(earth-616),thor odinson,2402,yes,male,NaN,sep-63,1963,52,full,...,yes,yes,no,NaN,NaN,NaN,NaN,NaN,NaN,dies in fear itself brought back because that'...

In [18]:
%%sql
SELECT TOP(5)
name/alias, appearances, gender
FROM avengers_csv

                    name/alias  appearances  gender
0    henry jonathan "hank" pym         1269    male
1               janet van dyne         1165  female
2  anthony edward "tony" stark         3068    male
3          robert bruce banner         2089    male
4                 thor odinson         2402    male